<mat-card>

  <mat-card-title>
    <span>{{ title }}</span>
  </mat-card-title>

  <mat-card-content>

      <mat-tab-group>

          <mat-tab>
            <ng-template mat-tab-label>
              <span>سمت ها</span>
            </ng-template>
            <div class="container">
              <div class="toolbar"></div>
              <div class="content"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <span>تعریف چارت</span>
            </ng-template>
            <div class="container">
                <div class="toolbar"></div>
                <div class="content"></div>
            </div>
          </mat-tab>

        </mat-tab-group>

  </mat-card-content>

</mat-card>