.login-card{
    max-width: 400px !important;
    margin: auto;
    top: 100px;
}
.login-header-image{
    background-image: url('/src/assets/Images/login.png');
    background-size: cover;
}
mat-card-title,
mat-card-subtitle{
    font-family: 'yekan';
    line-height: 15px;
}

mat-card-content div{
    margin-bottom: 10px;
    margin-top: 10px;
}

mat-card-actions{
    padding: 20px;
}


mat-card{
    padding-bottom: 40px;
}

.validation-error{
    color: red;
    font-size:10px;
}
