<mat-card>

  <mat-card-title>
    <span>{{ title }}</span>
  </mat-card-title>

  <mat-card-content>
    <mat-tab-group>

      <mat-tab>
        <ng-template mat-tab-label>
          <span>نامه</span>
        </ng-template>
        <div class="container">
          <div class="toolbar"></div>
          <div class="content">
            <form class="example-container" [formGroup]="form">

              <div>

                <mat-form-field>
                  <mat-select placeholder="فوریت نامه" formControlName="priority">
                    <mat-option value="0">عادی</mat-option>
                    <mat-option value="1">فوری</mat-option>
                    <mat-option value="2">اضطراری</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input matInput [matDatepicker]="pickerTo" formControlName="followUpDate" placeholder="تاریخ پیگیری"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                  <mat-datepicker #pickerTo [disabled]="false"></mat-datepicker>
                </mat-form-field>

              </div>

              <div>

                  <mat-form-field [ngStyle]="{'width':'100%'}">
                    <mat-select #receivers placeholder="گیرندگان" formControlName="receivers" multiple (selectionChange)="itemClicked(search.value)">
                      <input #search matInput 
                        [ngStyle]="{'width':'99%', 'padding' :'3px'}" 
                        placeholder="جستجو..." 
                        (keyup)="receiverFilter(search.value)">
                      <mat-option 
                        *ngFor="let item of items"
                        [value]="item.Value" >{{ item.Text}}</mat-option>
                    </mat-select>
                  </mat-form-field>

              </div>

              <div>

                <mat-form-field [ngStyle]="{'width':'100%'}">
                  <input matInput placeholder="عنوان نامه را وارد کنید" formControlName="subject">
                </mat-form-field>

              </div>

              <div>

                <ck-editor [config]="{}" language="fa" [fullPage]="true" formControlName="message"></ck-editor>

              </div>

            </form>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span>گیرندگان</span>
        </ng-template>
        <div class="container">
          <div class="toolbar"></div>
          <div class="content"></div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span>ضمیمه ها</span>
        </ng-template>
        <div class="container">
          <div class="toolbar"></div>
          <div class="content"></div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>

</mat-card>