<mat-card>

  <mat-card-title>
    <mat-toolbar [ngStyle]="{'background-color': 'inherit'}">
      <span>{{ title }}</span>
      <span class="toolbar-fill-remaining-space"></span>
      <span>
        <button mat-button class="toolbar-button" color="primary">
          <mat-icon>send</mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </mat-card-title>

  <mat-card-content>
    <mat-tab-group>

      <mat-tab>
        <ng-template mat-tab-label>
          <span>نامه</span>
        </ng-template>
        <div class="container">

          <form class="example-container" [formGroup]="form">
            <div class="row">

              <mat-form-field appearance="outline" class="col-4">
                <mat-label>اولویت</mat-label>
                <mat-select formControlName="priority">
                  <mat-option [value]="0">عادی</mat-option>
                  <mat-option [value]="1">فوری</mat-option>
                  <mat-option [value]="2">خیلی فوری</mat-option>
                  <mat-option [value]="3">آنی</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-4">
                <mat-label>طبقه بندی</mat-label>
                <mat-select formControlName="isSecret">
                  <mat-option [value]="0">عادی</mat-option>
                  <mat-option [value]="1">محرمانه</mat-option>
                  <mat-option [value]="2">خیلی محرمانه</mat-option>
                  <mat-option [value]="3">سری</mat-option>
                  <mat-option [value]="4">بکلی سری</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-4">
                <mat-label>تاریخ اقدام</mat-label>
                <input matInput [matDatepicker]="pickerTo" formControlName="followUpDate" readonly (click)="pickerTo.open()">
                <mat-datepicker #pickerTo [disabled]="false"></mat-datepicker>
              </mat-form-field>

            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="col">
                <mat-label>گیرندگان</mat-label>
                <input matInput formControlName="receivers" readonly>
                <mat-icon matSuffix title="گیرندگان" style="cursor: pointer; color: green" [matMenuTriggerFor]="receivers">more_vert</mat-icon>
              </mat-form-field>

              <mat-menu #receivers="matMenu">
                <button mat-menu-item (click)="selectReceivers()">
                  <mat-icon>people</mat-icon>
                  <span>گیرندگان</span>
                </button>
                <button mat-menu-item (click)="carbonCopyReceivers()">
                  <mat-icon>supervisor_account</mat-icon>
                  <span>گیرندگان رونوشت</span>
                </button>
                <button mat-menu-item (click)="bilindCarbonCopyReceivers()">
                  <mat-icon>people_outline</mat-icon>
                  <span>گیرندگان رونوشت پنهان</span>
                </button>
              </mat-menu>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="col">
                <mat-label>موضوع نامه</mat-label>
                <input matInput formControlName="subject">
              </mat-form-field>
            </div>

            <div class="row">
              <ck-editor [config]="editorConfig" language="en" [fullPage]="true" formControlName="message" class="col"></ck-editor>
            </div>
          </form>

        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span>ضمیمه ها</span>
        </ng-template>
        <div class="container">
          
        </div>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>

</mat-card>